body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

svg {
    width: 50px;
    position: absolute;
    top: -25px;
    right: -25px;
}

div {
    width: fit-content;
    position: relative;
}

img {
    width: 750px;
}